body{
margin:0;
font-family:Arial,Helvetica;
background:linear-gradient(135deg,#0f001a,#1a0033,#2b004d);
color:white;
}

.header{
text-align:center;
padding:30px;
background:linear-gradient(90deg,#ff008c,#ff4da6,#ff99cc);
animation:fadeDown 1s;
}

.controls{
text-align:center;
padding:20px;
}

input,select{
padding:12px;
border:none;
border-radius:12px;
margin:5px;
background:#1f0033;
color:white;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
gap:25px;
padding:25px;
}

.product-card{
background:linear-gradient(145deg,#1a0033,#33004d);
padding:15px;
border-radius:20px;
text-align:center;
transition:.4s;
position:relative;
overflow:hidden;
animation:fadeUp .8s ease;
}

.product-card:hover{
transform:translateY(-10px) scale(1.04);
box-shadow:0 0 25px #ff4da6;
}

.product-card img{
width:100%;
border-radius:15px;
}

.price{
color:#ff66b3;
font-weight:bold;
font-size:18px;
}

.buy-btn{
display:inline-block;
margin-top:10px;
padding:10px 14px;
background:linear-gradient(90deg,#ff008c,#ff66b3);
border-radius:12px;
color:white;
text-decoration:none;
font-weight:bold;
transition:.3s;
}

.buy-btn:hover{
transform:scale(1.1);
}

footer{
text-align:center;
padding:30px;
background:#000;
margin-top:40px;
}

@keyframes fadeUp{
from{opacity:0;transform:translateY(30px);}
to{opacity:1;transform:translateY(0);}
}

@keyframes fadeDown{
from{opacity:0;transform:translateY(-30px);}
to{opacity:1;transform:translateY(0);}
}
